textarea {
  width: 400px;
  height: 200px; }

.ft-red .fh-prepop {
  color: red; }

.ft-blue .fh-prepop {
  color: blue; }

.fh-suggestions {
  clear: both;
  margin: 20px 0; }
  .fh-suggestions .fh-prepop {
    cursor: pointer;
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 5px;
    text-decoration: none;
    transition: all 0.25s ease-in-out; }
    .fh-suggestions .fh-prepop:hover {
      box-shadow: 0 4px 5px #0003; }
    .fh-suggestions .fh-prepop:before {
      content: '+';
      font-weight: bold;
      font-size: 30px;
      vertical-align: sub;
      margin-right: 10px; }
